<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rooms</title>
    <style>
      li {
          cursor: pointer;
          margin-top: 10px;
      }
    </style>
  </head>

  <body>
    <h1>Rooms</h1>
    <main>
      <ul>
        <%= for room <- @rooms do %>
          <li phx-click="join-room" phx-value-room={room}>
            <%= room %>
          </li>
        <% end %>
      </ul>
    </main>
  </body>
</html>
