<div id="parent-cotainer">
  <div class="grid grid-cols-2">
    <div class="col-start-1">
      Left COl
      <div id="heading">
        Online Users
        <ul>
          <li>
            <p class="font-serif">User1</p>
          </li>
          <li>
            <p class="font-serif">User2</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-start-2">
      <div id="messages">
        <ul></ul>
      </div>
    </div>
  </div>
</div>
